/** @format */

.map-box {
  border: solid 1px rgb(167, 167, 167);
  height: fit-content;
  width: fit-content;
}

.row-cards {
  display: block;
  position: relative;
}

.card-box {
  border: solid 1px black;
  height: 4rem;
  width: 6rem;
  margin: 0.3rem;
  display: inline-block;
}
